variables:
  GIT_STRATEGY: "clone"

.run_template: &run_script
  stage: test
  script:
    - if exist wct.conf.js del wct.conf.js
    - if exist wct.conf.json del wct.conf.json
    - copy /Y \multi-runner\builds\wct.conf.js .
    - call npm install
    - call polymer test --module-resolution node --skip-selenium-install
  tags:
    - WCT_RUNNER

install-deps:
  stage: build
  script:
    - set GIT_CURL_VERBOSE=1
    - set GIT_TRACE_PACKET=2
    - call npm install
    - echo "Node Modules Installed"
    - call npm audit --json > vulnerabilities.json | echo "Audit logged"
    - call npm audit

  artifacts:
    untracked: true
    expire_in: 2h
    paths:
      - node_modules/
  tags:
    - WCT_RUNNER

test-chrome:
  variables:
    BROWSER: "chrome"
  coverage: '/Statements.*?(\d+(?:\.\d+)?)%/'
  <<: *run_script

test-firefox:
  variables:
    BROWSER: "firefox"
  <<: *run_script

test-ie:
  variables:
    BROWSER: "ie"
  <<: *run_script
